.book{
    width: 100px;
    height: 40px;
    border-radius: 60px;
    background-color: #917A5A;
    align-items: center;
    cursor: pointer;
    margin-right: 100px;
}
.book h3{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.main{
    margin-left: 40px;
}
.box{
    border: 2px solid white;
    margin-left: 10px;
    padding: 10px;
}
.box2{
    margin-left: 70px;
    margin-top: 10px;
    align-items: center;
}
#h2{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 40px;
}
#p{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 15px;
    color: white
}
.container{
    text-align: center;
    margin-top: 20px;
}
.vn{
    position: relative;
    bottom: 190px;
    left: 80px;
    border-radius: 10px;
    border: 4px solid white;
}
.nv{
    border-radius: 15px;
    margin-top: 10px;
}
#h4{
    color: #8a7254;
    font-size: 20px;
    text-align: center;
}
#h3{
    color: black;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 600;
    margin-top: 20px;
}
.feature-icon {
      width: 45px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: #f4f1ed;
      margin-right: 15px;
      font-size: 1.2rem;
      text-align: center;
      cursor: pointer;
    }
    .feature-box {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
    }
    .feature-text h6 {
      margin-bottom: 5px;
      font-weight: bold;
    }
    .btn-custom {
      background-color: #a58a66;
      color: white;
      border-radius: 8px;
      padding: 10px 20px;
      text-transform: capitalize;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
    .btn-custom:hover {
      background-color: #8a7254;
    }
    .span{
        font-size: 35px;
        color: brown;
        font-weight: 600;
    }
    .span1{
        font-size: 15px;
        color: gray;
    }
.img{
    height: 190px;
    width: 200px;
}
#p2{
    text-align: center;
    font-size: 15px;
}
.sp1{
    color: #8a7254;
}
#img{
    width: 286px;
    height: 150px;
}
#h11{
    color: #8a7254;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    text-align: start;
}
#p17{
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 18px;
    margin-left: 40px;
    text-align: start;
}
.col-md-6:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
#h11:hover{
    cursor: pointer;
    color: black;
}
#p17:hover{
    cursor: pointer;
    color:#8a7254 ;
}
.container1{
    border: 2px solid white;
    width:900px;
    height: 230px;
    border-radius: 10px;
    background-color: #EEEEEE;
    align-items: center;
    margin-left: 200px;
    text-align: center;
}
.btn-explore {
      background-color: #a58a66;
      color: white;
      border-radius: 8px;
      padding: 10px 20px;
      text-transform: capitalize;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .btn-explore:hover {
      background-color: #8a7254;
    }
.stars{
      color: #ffc107; 
}
#p11{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    color: grey;
}
#h21{
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#p25{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
 .card-hover-border:hover {
    border: 2px solid black;
}
.offer1{
    text-align: start;
    font-size: 23px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.offer{
    font-size: 16px;
    text-align: start;
    color: #6c757d;
}
.span{
    color: #8a7254;
    font-size: 20px;
}
#h06{
    font-size: 25px;
    color: #8a7254;
    text-align: center;
}


.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}

.video-content {
  position: relative;
  z-index: 2; /* Ensures content is above video and overlay */
}
